@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
﻿@using MyCheeseShop.Context
@using MyCheeseShop.Model
@inject CheeseProvider CheeseProvider
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager

<div class="card h-500">
    <div class="position-relative">
        <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top img-fluid w-100 h-100" alt="@Cheese.Name" onerror="this.onerror = null; this.src='/img/no_cheese.png'">
        <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h5 class="card-title text-white">@Cheese.Name</h5>
            <h5>
                <span class="badge bg-primary">@Cheese.Type</span>
                <span class="badge bg-success">@Cheese.Strength</span>
            </h5>
            <p class="card-text text-white">@Cheese.Description</p>
            <div class="mt-auto">
                <EditForm Model="quantity" OnSubmit="AddToCart">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <option value="@i">@(i * 100)g</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-lg-6 col-12 mt-lg-0 mt-1">
                            <button class="btn btn-primary position-relative w-100">
                                Add to cart
                                @if (ShoppingCart.GetQuantity(Cheese) > 0)
                                {
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        @(ShoppingCart.GetQuantity(Cheese) * 100)g
                                        <span class="visually-hidden">@Cheese.Name in shopping cart</span>
                                    </span>
                                }
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}